button {
  background-color: #4caf50;
  border: 0px;
  border-radius: 3px;
  color: white;
  padding: 5px 15px;
  margin-right: 30px;
  cursor: pointer;
}

label {
  color: gray;
}

input {
  width: 100%;
  display: block;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
