.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: gray;
  color: white;
  font-weight: 600;
}

.content {
  display: flex;
  margin: 68px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
}

app-footer {
  display: flex;
  margin: 22px auto 12px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.button-login {
  background-color: #4caf50;
  border: 0px;
  border-radius: 3px;
  color: white;
  padding: 5px 15px;
  margin-right: 30px;
  cursor: pointer;
}

.click {
  cursor: pointer;
}
